@yellow: #fcf800;

.mixin margenes($top 0px, $bottom 0px){
	margin-top: $top;
	margin-bottom: $bottom; 
}



.jumbotron {
          background-color: #fcf800;
          color: black;
          .margenes(50px, 0px);

}

footer {
		padding: 10px 10 px 0 10px;
		background-color: #fcf800;
		margin-bottom: 0px;
  		margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
	padding: 2px 0px 0px 5px;
	margin-top: 10px;
}

.btn-reserva{

	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
   padding-top: 10px;
}